{% extends "main/base.html" %}
{% block title %}Lista postów{% endblock %}
{% block content %}
    <div class="container">
        <form>
            <div class="sm-3">
                <label for="search" class="form-label">Search posts</label>
                <input type="text" class="form-control" id="search" aria-describedby="searchHelp" name="q">
                <div id="searchHelp" class="form-text">What are you looking for?</div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>

        {% for post in posts_list %}
            {% if post.published %}
                <div class="row">
                    <div class="col-6">
                        <a href="{% url 'posts:details' post.id %}" data-bs-toggle="tooltip" data-bs-title="{{ post.id }}">{{ post.title }}
                            data-bs-title="{{ post.id }}">
                            {% if post.sponsored %}
                                <strong>
                                    {{ post.title }}
                                </strong>
                            {% else %}
                                {{ post.title }}
                            {% endif %}

                        </a>

                    </div>
                    <div class="col text-center">
                        {{ post.created | date:"d-m-Y H:i" }}
                    </div>
                    <div class="col text-center">
                        {{ post.modified | date:"d-m-Y H:i" }}
                    </div>

                    <div class="col text-center">
                        <a href="{% url 'posts:toggle_sponsored' post.id %}">
                            {% if post.sponsored %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                </svg>                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}